:root {
  --primary-color: rgb(187, 187, 187);
  --secondary-color: #faf8f8;
  --header-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  --form-shadow: 0px 0px 500px 0px rgb(78, 255, 122);
  --form-display-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
  --onfocus-border: 3px solid rgb(32, 187, 71);
  --primary-font: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  --button-color: rgb(32, 187, 71);
  --critical-color: rgb(248, 45, 45);
}

body,
html {
  margin: 0;
  padding: 0;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: var(--primary-font);
  background-color: var(--primary-color);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 39px;
  margin-bottom: 20px;
  background-color: var(--secondary-color);
  box-shadow: var(--header-shadow);
}

button {
  padding: 10px 24px;
  border-radius: 15px;
  font-size: 20px;
  font-family: var(--primary-font);
  background-color: var(--button-color);
  cursor: pointer;
  transition: transform 0.4s ease;
}

button:hover {
  transform: scale(1.2);
}

button:active {
  transform: scale(0.8);
}

form {
  display: grid;
  gap: 10px;
}

dialog {
  border: none;
  box-shadow: var(--form-shadow);
  background-color: var(--secondary-color);
  border-radius: 15px;
  max-width: 280px;
  text-align: center;
}

span {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 4px;
  cursor: pointer;
  font-size: 30px;
  color: #aaa;
}

span:hover {
  color: #000;
}

input {
  padding: 8px 12px;
  width: 16rem;
  border-radius: 15px;
  font-size: 20px;
  font-family: var(--primary-font);
}

input:focus {
  outline: var(--onfocus-border);
  border: none;
}

input:placeholder-shown {
  font-family: var(--primary-font);
}

.checkbox {
  display: flex;
  align-items: center;
}

#read {
  width: 12px;
  margin: 4px;
  cursor: pointer;
}

#submit {
  width: inherit;
  cursor: pointer;
  transition: transform 0.4s ease;
  background-color: var(--button-color);
}

#submit:hover {
  transform: scale(1.05);
}

#submit:active {
  transform: scale(0.8);
}

.form-displays {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  gap: 20px;
  padding: 15px;
  font-size: 25px;
}

.book-card {
  background-color: var(--secondary-color);
  border-radius: 15px;
  box-shadow: var(--form-display-shadow);
}

.book-card button {
  width: 290px;
  transition: transform 0.4s ease;
  margin-top: 2.5px;
  margin-bottom: 2.5px;
}

.book-card button:hover {
  transform: scale(1.02);
}

.book-card .delete-btn:hover {
  background-color: var(--critical-color);
}
